@font-face {
    font-family: "Fell";
    src: url(./fonts/IMFellFrenchCanon-Regular.ttf);
}

@font-face {
    font-family: "Kalam";
    src: url(./fonts/Kalam-Regular.ttf);
}

:root{
    --black: #161616;
    --white: #ffffff;
    --orange: #f78107;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white);
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Kalam;
}

button{
    cursor: pointer;
    font-family: Kalam;
}

p{
    font-size: min(4.5vw,23px);
}

li, li>button{
    text-decoration: none;
    list-style: none;
}

h1>span{
    font-size: min(7vw,50px);
    font-family: Fell;
}

header button:hover{
    text-decoration: underline 2px;
}

.container{
    width: min(90%,1400px);
    margin: 0 auto;
}

header{
    position: sticky;
    top: -1px;
    background-color: var(--black);
    height: max(70px,8vh);
    color: var(--white);
    z-index: 2;
}

header button{
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
}

header>div{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 15%;
}

header ul>li>button{
    padding: 10px;
    font-weight: 900;
    font-size: min(3.5vw,23px);
}

header ul>li:last-of-type{
    background-color: var(--orange);
    border-radius: 15px;
}

header ul>li:last-of-type>button{
    background-color: transparent;
    border: none;
}

header>div>div:last-of-type>ul{
    display: flex;
    justify-content: space-between;
}

main{
    background-color: var(--black);
    color: var(--white);
}

.firstCont{
    min-height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(45%,1fr));
    gap: 40px;
}


.firstCont>div:first-of-type>h1{
    margin-top: -180px;
}

.firstCont>div:first-of-type>button{
    width: max(10vw,150px);
    padding: 20px;
    font-size: min(20px);
    font-weight: 900;
    border-radius: 45px;
    background-color: var(--black);
    color: var(--white);
    border: solid var(--white) 2px;
    margin-top: 30px;
    cursor: pointer;
}

.firstCont>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    background-color: var(--white);
    margin-bottom: 10vh;
}

section>div>div:first-of-type{
    background: url(./images/kitchen.avif) ;
    background-size: cover;
    height: min(700px,100vh);
    width: min(1300px,100%);
    position: relative;
}

section>div>div:first-of-type>div{
    width: min(80%,600px);
    padding: calc(1.5vw + 1.5vh);
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    right: 1px;
    bottom: 10%;
}

.menuList>div{
    display: grid;
    column-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,min(100%,630px));
    padding-bottom: 10vh;
}

.menuList h2{
    font-family: Fell;
    text-align: center;
    font-size: min(7vw,50px);
    text-decoration: double underline 3px;
    padding: 30px 0;
}

.menuList h3{
    font-family: Fell;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline 2px;
    font-size: min(6vw,30px);
}

.menuList img{
    margin-top: 20px;
    width: 100%;
    border-radius: 30px;
}

.menuList>div>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

}

.menuList>div>div>p{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    overflow: auto;
}

.order{
    width: 100%;
    padding: 7px;
    margin: 0 auto;
    font-weight: 900;
    font-size: min(4.5vw,25px);
    border-radius: 5px;
    color: var(--white);
    border: var(--orange) solid 1px;
    background-color: var(--orange);
}

@media screen and (max-width: 980px) {
    

    .firstCont{
        display: flex;
        flex-direction: column;
    }

    .firstCont img{
        width: 70%;
        
    }

    .firstCont>div{
        padding-top: 30px;
    }

    .firstCont>div:first-of-type>button{
        align-self: center;
    }

    .firstCont>div:first-of-type>h1{
        text-align: center;
        margin-top: 0;
    }

    .firstCont>div:last-of-type{
        padding-bottom: 30px;
        align-items: center;
    }
}